.panel {
    width: 60%;
    margin: 0 auto;
    /* border: solid blue; */
    /* text-align: center; */
}

.container {
    /* display: inline-block; */
}

.panel2 {
    width: 60%;
    margin: 0 auto;
    /* border: solid blue; */
}

.panel-heading {
    background-color: #1c6f6f;
    color: white;
    padding: 10px;
}

.panel-body {
    padding: 10px;
}

label {
    font-weight: bold;
}

.form group {
    display: block;
}

.form-control {
    display: block;
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
}

table {
    width: 100%;

}

.table tr {
    border-bottom: solid blue 1px;
}

@media screen and (max-width: 600px) {
    * {}

.panel2 {
    width: 116%;
}

    .panel {
        /* width: 80%; */
    }

.panel {
    margin: 0 auto;
    width: 100%;
}
}